@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@if (!Model.GetPropertyValue<bool>("isBanner"))
{
<div class="bannerWithTexture promotersBanner">
        <div class="innerTopBanner">
                   
                   @if(Model.HasValue("bannerBackgroundImage"))
                   {
                    <!-- desktop image -->
                     <div class="innerTopBannerImgDesk hidden-sm hidden-xs" style="background-image: url(@((Model.GetPropertyValue<IPublishedContent>("bannerBackgroundImage")).Url));"></div>
                    }
                    
                    @if(Model.HasValue("bannerMobileImage"))
                    {
                    <!-- mobile image -->
                    <div class="innerTopBannerImgMob visible-sm visible-xs" style="background-image: url(@((Model.GetPropertyValue<IPublishedContent>("bannerMobileImage")).Url));"></div>
                    }
                    @{
                        if (Model.GetPropertyValue<bool>("IsBannerVideo") && Model.HasValue("videoUrl"))
                        {
                        <!-- video  -->
                        <video width="320" height="240" poster="images/videoPoster.png" autoplay muted loop playsinline class="hidden-sm hidden-xs">
                            <source src="@Model.GetPropertyValue("videoUrl")" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                         }
                      }
                      @if (Model.HasValue("bannerTitle"))
                      {
                        <h1 class="pageTitle" data-aos="fade-down" data-aos-duration="1000">@(@Html.Raw(!string.IsNullOrEmpty(Model.GetPropertyValue("bannerTitle").ToString()) ? Model.GetPropertyValue("bannerTitle") : ""))</h1>
                      }
                    <div class="bredcrumb" data-aos="fade-right" data-aos-duration="1000">
                         @Umbraco.RenderMacro("BreadCum")
                    </div>
            </div>
            <div class="container">
                    <div class="bannerBtmTxt" data-aos="fade-right" data-aos-duration="1000">
                        @Html.Raw(@Model.GetPropertyValue("bannerDescription"))
                    </div>
                </div>

</div>
 }
